/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*===================================END OF RESET=============================================*/

/*==================================HEADER & ADD BUTTON=======================================*/
h1{
  padding:40px 20px 20px;
  font-family: 'Bad Script';
  font-size: 50px;
  color: gold;
  border: solid 2px black;
  height: 70px;
  width: 500px;
  text-align: center;
  background:#004020e7
}

.add-button {
  cursor: pointer;
  background-color: #004020e7;
  border: solid 2px black;
  color: gold;
  font-family: 'Bad Script';
  font-size: 30px;
  height: 75%;
  padding-bottom: 10px;
  width: 15%;
}
/*=====================================LIBRARY SECTION========================================*/
body {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px;
  justify-items: center;
  background: url('library-869061.jpg');
  background-repeat:y;
  background-size:cover;
  width: 100%;
}

#library{
  align-items: center;
  color: black;
  display: grid;
  font-size: 25px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap:40px;
  justify-items: center;
  margin-top: 20px;
  width: 100%;  
}

.book {
  align-items: center;
  background-image: url(annie-spratt-im8y4BO2hso-unsplash.jpg);
  border: solid 1px black;
  border-radius: 2%;
  box-shadow: 0px 0px 13px 10px #3b2214;
  color: gold;
  display:grid;
  font-family: 'Bad Script';
  font-size: 30px;
  grid-template-columns: 1fr;
  grid-template-rows: 3.5fr 1fr 1.5fr;
  height: 300px;
  justify-items: center;
  line-height:40px ;
  text-align: center;
  white-space: pre-line;
  width: 250px;
}

.read-button {
  background-color: #004020e7;
  color: gold;
  cursor: pointer;
  font-family: 'Bad Script';
  font-size: 20px;
  height: 100%;
  width: 60%;
}

.remove-button {
  background-color: #004020e7;
  color: gold;
  cursor: pointer;
  font-family: 'Bad Script';
  height: 50%;
  width: 60%;  
}

/*=====================================FORM=====================================================*/
.form-popup {
  border: 2px solid #000000;
  display: none; /*keeps it hidden until add button is clicked*/
  margin:auto auto;
  position: fixed;
  top: 25%;
}

.form-container {
  align-items:center;
  background-color: #004020e7;
  color: gold;
  display: grid;
  font-family: 'Bad Script';
  font-size: 20px;
  grid-template-rows: 1fr .8fr 1fr .8fr 1fr .8fr 2fr 1.5fr 1.5fr ;
  height: 420px;
  line-height: 25px;
  padding: 10px;
  text-align: center;
  width: 300px;
}

.btn {
  background-color: gold;
  border: solid black 1px;
  border-radius: 2%;
  color: #004020e7;
  cursor: pointer;
  font-family: inherit;
  font-size: 20px;
  font-weight: bold;
  height:80%;
}

/*==============================SWITCH=================================*/
.switch {
  display: inline-block;
  height: 36px;
  position: relative;
  width: 100%;
}

/* Hide default HTML checkbox */
.switch input {
  height: 0;
  opacity: 0;
  width: 0;
}

.slider {
  background-color: #004020a6;
  border:solid 1px rgba(255, 217, 0, 0.637);
  bottom: 0;
  cursor: pointer;
  left:55%;
  position: absolute;
  right: 25%;
  top: 0;
  -webkit-transition: .4s;
          transition: .4s;
}

.slider:before {
  background-color: rgba(255, 217, 0, 0.719);
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  width: 26px; 
  -webkit-transition: .4s;
          transition: .4s;
}

input:checked + .slider {
  background-color: rgba(255, 217, 0, 0.637);
}

input:focus + .slider {
  box-shadow: 0 0 1px gold;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
          transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}